@import "../../node_modules/bootstrap/scss/bootstrap";

$all-colors: map-merge-multiple(
  $blues,
  $indigos,
  $purples,
  $pinks,
  $reds,
  $oranges,
  $yellows,
  $greens,
  $teals,
  $cyans
);

$utilities: map-merge(
  $utilities,
  (
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "color"), "values"),
              ($all-colors)
            ),
        )
      ),
  )
);

@import "../../node_modules/bootstrap/scss/utilities/api";

.card {
  width: 335.063px;
  padding: 22.337px 14.892px;
  gap: 14.892px;

  h3 {
    color: $gray-700;
    font-family: Inter;
    font-size: 22.337px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.893px;
  }
  p {
    color: $gray-600;
    font-family: Inter;
    font-size: 14.892px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.596px;
  }

  button {
    background-color: $purple-300;
    padding: 14.892px;
    gap: 3.723px;
    line-height: normal;
    letter-spacing: -0.596px;
  }
}
